header{
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-color: black;
  }
  img{
    max-width: 100%;
    display: block;
  }
  body{
    margin: 0;
  }
  
  
  .logo img{
    width: 100px;
    padding-right: 100px;
  }
  
  
  
  
  .logo img{
    width: 100px;
    padding-right: 100px;
  }
  
  
  .nav-principal a{
    margin-right: 20px;
    text-decoration: none;
    color: #D0D0D0;
    text-transform: uppercase;
    
  
  }
  
  .nav-principal a:hover{
    color: white;
    transition: transform 0.3s ease;
  }

  

  footer{
    background-color: black;
    padding-bottom: 4%;
  }
  
  .redsocial1{
    width: 30px;
    height: 30px;
    margin-right: 14px;
  }
  .redsocial2{
    width: 35px;
    height: 35px;
    margin-right: 14px;
    
  
  }
  .redsocial3{
    width: 35px;
    height: 35px;
    margin-right: 7px;
  }
  .redsocial4{
    width: 45px;
    height: 35px;
    padding-right: 0%;
  }
  .redsocial5{
    
    width: 51px;
    height: 44px;
    margin-right: 0px;
  }
  .redsocial6{
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
  .redsocial7{
    width: 40px;
    height: 40px;
  }
  
  .redessociales{
    display: flex;
    padding-top: 4%;
    padding-left: 5%;
  }
  
  .texto_footer{
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }
  
  .texto_footer2{
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    
  }
  
  .contenedor{
    display: flex;
  }