header{
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: black;
}
img{
  max-width: 100%;
  display: block;
}
body{
  margin: 0;
}


.logo img{
  width: 100px;
  padding-right: 100px;
}




.logo img{
  width: 100px;
  padding-right: 100px;
}


.nav-principal a{
  margin-right: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  

}

.nav-principal a:hover{
  background-color: #2b2a28;
  transition: transform 0.3s ease;
}

.coche1{
  position: relative;
}
.coche1 img{
  width: 100%;
  height: 100%;
}

.coche1 .coche1_1{
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 25%;
  left: 2%;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.coche1 .coche1_2{
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 2%;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.lista_de_modelos{
  display: flex;
  position: relative;
  background-color: black;
  padding-top: 1%;
  
}

.fotomodelos1{
  width: 650px;
}
.fotomodelos2{
  width: 725px;
  height: 200;
}
.fotomodelos3{
  width: 713px;
}
.texto1{
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 85%;
  left: 1.9%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.texto2{
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 85%;
  left: 33%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.texto3{
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 85%;
  left: 67.7%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.titulomodelos{
  background-color: black;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 1%;
  padding-left: 15%;
  font-weight: 200%;
}

footer{
  background-color: black;
  padding-bottom: 4%;
}

.redsocial1{
  width: 30px;
  height: 30px;
  margin-right: 14px;
}
.redsocial2{
  width: 35px;
  height: 35px;
  margin-right: 14px;
  

}
.redsocial3{
  width: 35px;
  height: 35px;
  margin-right: 7px;
}
.redsocial4{
  width: 45px;
  height: 35px;
  padding-right: 0%;
}
.redsocial5{
  
  width: 51px;
  height: 44px;
  margin-right: 0px;
}
.redsocial6{
  width: 40px;
  height: 40px;
  margin-right: 7px;
}
.redsocial7{
  width: 40px;
  height: 40px;
}

.redessociales{
  display: flex;
  padding-top: 4%;
  padding-left: 5%;
}

.texto_footer{
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.texto_footer2{
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
  
}

.contenedor{
  display: flex;
}

.gif1{
  width: 730px;
  margin:5em;

}
.parrafo1{

  color: black;
  text-transform: uppercase;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 270%;
  margin-top:8em;
  margin-left: 50px;

}
.parrafo2{

  color: black;
  text-transform: uppercase;
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 270%;
  margin-top: 0;
  margin-left: 50px;
  

}
.parrafo3{

  color: black;
  text-transform: uppercase;
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 270%;
  margin-top: 0px;
  margin-left: 50px;

}

.botonIS{
  font-size: 30px;
  color: black;
  display: block;
  width: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-radius: 10px;
  border:2px solid black;
  padding: 15px 30px;
  text-decoration: none;
}
.botonIS:hover{
  background-color: #D6D6D6;
}
.boton1{
  margin-top: 16em;
  margin-left: 5%;
}