html {
  font-size: 16px; /* Establecer el tamaño de fuente base */
}


header {
  display: flex;
  align-items: center;
  padding-left: 2vw; /* 40px / 16px = 2.5rem */
  background-color: black;
}

body{
  margin: 0vw;
}

img {
  max-width: 100%;
  display: block;
}



.logo img {
  width: 5.4vw; /* 100px / 16px = 6.25rem */
  padding-right: 5.7vw; /* 100px / 16px = 6.25rem */
}

.nav-principal a {
  margin-right: 1vw; /* 20px / 16px = 1.25rem */
  font-size: 1vw;
  text-decoration: none;
  color: #d0d0d0;
  text-transform: uppercase;
}

.nav-principal a:hover {
  color: white;
  transition: transform 0.3s ease;
}

/* Media para un telefono*/
@media(max-width: 600px){

  .nav-principal a {
    margin-right: 1vw; /* 20px / 16px = 1.25rem */
    font-size: 2vw;
    text-decoration: none;
    color: #d0d0d0;
    text-transform: uppercase;
  }
  
  .nav-principal a:hover {
    color: white;
    transition: transform 0.3s ease;
  }
}



.coche1 {
  position: relative;
}

.coche1 img {
  width: 100%;
  height: 100%;
}

.coche1 .coche1_1,
.coche1 .coche1_2 {
  color: white;
  text-transform: uppercase;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

.coche1 .coche1_1 {
  top: 25%;
  left: 2vw;
  font-size: 2vw; /* 50px / 16px = 3.125rem */
}

.coche1 .coche1_2 {
  top: 20%;
  left: 2vw;
  font-size: 4.5vw; /* 100px / 16px = 6.25rem */
}

.columnas{
  display: flex;
}

aside{
  flex: 20vw;
  padding: 10vw;
}
section{
  flex: 50%;
}

.conjunto_modelo1{
  margin-top: 3vw;
}
.conjunto_modelo2,
.conjunto_modelo3 {
  display: flex;
  flex-direction: row;
}

.explicacion_modelo1{
  
  margin-left: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}
.explicacion_modelo2,
.explicacion_modelo3 {
  margin-top: 3vw;
  margin-left: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw; /* 15px / 16px = 0.9375rem */
}


.huracan_marca{
  width: 15.57vw; /* 300px / 16px = 18.75rem */
  margin-top: 14vw;
  margin-left: 3vw;
}
.revuelto_marca{
  width: 15.57vw; /* 300px / 16px = 18.75rem */
  margin-top: 1vw;
  margin-left: 3.5vw;
  
}
.urus_marca {
  width: 11.57vw; /* 300px / 16px = 18.75rem */
  margin-top: 16vw;
  margin-left: 5vw;
}


.huracan_foto{
  width: 40vw; /* 800px / 16px = 50rem */
  margin-top: 7vw;
}

.revuelto_foto{
  width: 40vw; /* 800px / 16px = 50rem */
  margin-top: 8vw;
  margin-right: 3vw;
}
.urus_foto {
  width: 40vw; /* 800px / 16px = 50rem */
  
  margin-top: 8vw;
  margin-right: 3vw;
}

.caracteristicas_revuelto,
.caracteristicas_huracan,
.caracteristicas_urus {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 10%;
  
  
}

.gif_revuelto{
  width: 31.23vw; /* 600px / 16px = 37.5rem */
  margin-left: 1vw;
  margin-top: 7vw;
}
.gif_huracan{

  width: 31.23vw; /* 600px / 16px = 37.5rem */
  margin-left: 1vw;
  margin-top: 5vw;
}
.gif_urus {
  width: 31.23vw; /* 600px / 16px = 37.5rem */
  margin-left: 1vw;
  margin-top: 5vw;
}

.ul {
  margin-top: 5%;
  list-style: none;
  font-size: 1vw; /* 20px / 16px = 1.25rem */
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  color: black;
  size: 1px;
}

.texto_modelo3,
.texto_modelo1,
.texto_modelo2{
  width: 30vw;
  text-align: justify;
}

.especificaciones_tecnicas_titulo,
.especificaciones_tecnicas_titulo2,
.especificaciones_tecnicas_titulo3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.55vw; /* 30px / 16px = 1.875rem */
  margin-top: 5vw;
  margin-left: 6vw;
  
}

.especificaciones_tecnicas,
.especificaciones_tecnicas2,
.especificaciones_tecnicas3 {
  
  font-size: 1vw;
  list-style: none;
  margin-right: 2vw;
}

.lista1,
.lista2,
.lista3{
  list-style: none;
}

footer {
  background-color: black;
  padding-bottom: 4%;
}

.redsocial1 {
  width: 1.875rem; /* 30px / 16px = 1.875rem */
  height: 1.875rem; /* 30px / 16px = 1.875rem */
  margin-right: 0.875rem; /* 14px / 16px = 0.875rem */
}

.redsocial2,
.redsocial3 {
  width: 2.1875rem; /* 35px / 16px = 2.1875rem */
  height: 2.1875rem; /* 35px / 16px = 2.1875rem */
  margin-right: 0.875rem; /* 14px / 16px = 0.875rem */
}

.redsocial4 {
  width: 2.8125rem; /* 45px / 16px = 2.8125rem */
  height: 2.1875rem; /* 35px / 16px = 2.1875rem */
}

.redsocial5 {
  width: 3.1875rem; /* 51px / 16px = 3.1875rem */
  height: 2.75rem; /* 44px / 16px = 2.75rem */
}

.redsocial6,
.redsocial7 {
  width: 2.5rem; /* 40px / 16px = 2.5rem */
  height: 2.5rem; /* 40px / 16px = 2.5rem */
  margin-right: 0.4375rem; /* 7px / 16px = 0.4375rem */
}

.redessociales {
  display: flex;
  padding-top: 4%;
  padding-left: 5%;
}

.texto_footer,
.texto_footer2 {
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.contacto{
  margin-top: 4vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}