html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
    
    color: red;
  

}
h1 span{
    color: red;
}
nav a{
    text-transform: uppercase;
}
/** el punto para seleccionar elementos en esa clase**/
.Navegacion a {
    text-transform: lowercase;
}
/** para seleccionar los que tengan Id**/
#Navegacion a {
    text-transform: uppercase;
}
.Navegacion a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color:aqua;


}
.sobre-nosotros{
    background-color: blueviolet;
    width: 500px;
    padding: 100px;
    box-sizing: border-box;
}
.sobre-empresa{
    background-color: red;
    width: 5200px;
    padding: 100px;
}
